<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EasyQueue | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
</head>

<body class="hold-transition login-page"
  style="background-image:url('../../../static/dist/img/b.jpg');background-repeat: no-repeat;background-size:100% 100%;">
  <div class="login-box">
    <div class="login-logo">
      <a><b>EasyQueue</b></a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <a href="{{ url_for('login') }}" class="brand-link">
          <img src="static/dist/img/eq.jpeg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
          <span class="brand-text font-weight-light"><b>EasyQueue Login</b> </span>
        </a>

        <script type="text/javascript">
          function preventBack() { window.history.forward(); }
          setTimeout("preventBack()", 0);
          window.onunload = function () { null };
      </script>

        <form action="{{ url_for('login') }}" method="post">
          <!-- <div class="msg">{{ msg }}</div>  -->
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 5000); </script>
          <div id= "successMessage" class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for category, message in messages %}

            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
            </div>

            {% endfor %}

            {% endif %}
            {% endwith %}
          </div>
          <div class="row">
            <div class="col-12">
              
              <button type="submit" class="btn btn-primary btn-block" name="login">Login</button>
            </div>
          </div>
        </form>
        <br>
        <p class="mb-1">
          <a href="{{ url_for('passwordForgot') }}">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="{{ url_for('register') }}" class="text-center">Register a new membership</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>